@use "../custom" as *;
@use "../components/mixing" as *;

.menu {
  transition: all 0.4s ease-out;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  @include gradient;
  li {
    padding: 0 0.7rem;
    a {
      color: $white !important;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
}
